/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  background: #fff;
  padding: 20px 50px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo h2 {
  color: #2563eb;
  font-size: 28px;
}

/* Nav links */
.navLinks {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.navLinks a:hover {
  color: #2563eb;
}

/* Button */
.btn {
  padding: 10px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #1d4ed8;
}